/* ==============================================>>> {{{ الأساس }}} <<<==================================== */
/* ---------------------------------------------------------------- {{{ Title }}} <<<  */
/*
    Primary
*/
section
{
    width: 100%;

    flex-direction: column;

    overflow: hidden;
}



/*
    Secondary
*/
section
{
    padding: 3rem 0;
    gap: var(--gap-primary);
}
section:nth-child(3):not(.section-background-text, .section-panel section, .section-hide)
{
    margin-top: var(--margin-header);
}
/* ---------------------------------------------------------------- {{{ Title }}} <<<  */
/* ==============================================>>> {{{ الأساس }}} <<<==================================== */





























/* ==============================================>>> {{{ الستايلات }}} <<<==================================== */
/* ---------------------------------------------------------------- {{{ odd }}} <<<  */
section:nth-child(odd):not(.section-panel, .section-panel section, .section-hide)
{
    background: var(--background-body);
}
section:nth-child(even):not(.section-panel, .section-panel section, .section-hide)
{
    background: var(--background-header);
}
/* ---------------------------------------------------------------- {{{ odd }}} <<<  */
/* ==============================================>>> {{{ الستايلات }}} <<<==================================== */
