:root
{
    /* ======================================================================================================== */
    /* ==============================================>>> {{{ 1600px }}} <<<==================================== */
    /* ======================================================================================================== */
    /* ==============================================>>> {{{ اللون }}} <<<==================================== */
    /* ---------------------------------------------------------------- {{{ Color }}} <<<  */
    /*
        Secondary
    */
    --color-primary : #fff;
    --color-text: #e0e0e0;

    --color-link: #06b6d4;
    --color-link-hover: #0891b2;

    --color-white: #fff;
    --color-red: #ff3f3f;
    --color-orange: orange;
    --color-blue: #4665f0;
    --color-green: #75ad58;
    /* ---------------------------------------------------------------- {{{ Color }}} <<<  */









    /* ---------------------------------------------------------------- {{{ Background }}} <<<  */
    /*
        Secondary
    */
    --background-body: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    --background-header: rgba(255,255,255,0.08);
    --background-footer: #222;
    --background-feature: #151a31;
    --background-hide: #0f1015ac;
    /* ---------------------------------------------------------------- {{{ Background }}} <<<  */









    /* ---------------------------------------------------------------- {{{ Border }}} <<<  */
    /*
        Secondary
    */
    --border-header: 1px solid rgba(0, 0, 0, 0.1);
    --border-primary: 1px solid #dddddd9c;
    --border-link: 1px solid var(--color-link);
    /* ---------------------------------------------------------------- {{{ Border }}} <<<  */









    /* ---------------------------------------------------------------- {{{ Box-Shadow }}} <<<  */
    /*
        Secondary
    */
    --box-shadow-small: 0px 1px 5px rgba(0, 0, 0, 0.1);
    --box-shadow-big: 0px 1px 10px rgba(0, 0, 0, 0.1);
    --box-shadow-big-hover: 0px 1px 10px var(--color-link-hover);
    /* ---------------------------------------------------------------- {{{ Box-Shadow }}} <<<  */
    /* ==============================================>>> {{{ اللون }}} <<<==================================== */





























    /* ==============================================>>> {{{ الخط }}} <<<==================================== */
    /* ---------------------------------------------------------------- {{{ Font Family }}} <<<  */
    /*
        Primary
    */
    --kufi: "Reem Kufi", sans-serif;
    --ruqaa: "Aref Ruqaa", serif;

    --tajawal: "Tajawal", sans-serif;
    --notonaskh: "Noto Naskh Arabic", serif;
    --notoKufi: "Noto Kufi Arabic", sans-serif;

    --playpen: "Playpen Sans Arabic", cursive;
    --marhey: "Marhey", sans-serif;

    --rubik: "Rubik", sans-serif;
    --pacifico : "Pacifico", cursive;
    --montecarlo: "MonteCarlo", cursive;

    /*
        Secondary
    */
    --font-primary: var(--playpen);
    /* ---------------------------------------------------------------- {{{ Font Family }}} <<<  */









    /* -------------------------------------------------------------- {{{ Font Size }}} <<<  */
    /*
        Secondary
    */
    --size-h1: 2rem;
    --size-h2: 1.55rem;
    --size-h3: 1.65rem;
    --size-h4: 1.3rem;
    --size-h5: 1.2rem;
    --size-h6: 1.15rem;
    --size-p: 0.98rem;
    /* -------------------------------------------------------------- {{{ Font Size }}} <<<  */









    /* -------------------------------------------------------------- {{{ Font Weight }}} <<<  */
    /*
        Secondary
    */
    --weight-h1: 600;
    --weight-h2: 600;
    --weight-h3: 400;
    --weight-h4: 500;
    --weight-h5: 500;
    --weight-h6: 400;
    --weight-p: 300;
    /* -------------------------------------------------------------- {{{ Font Weight }}} <<<  */
    /* ==============================================>>> {{{ الخط }}} <<<==================================== */





























    /* ==============================================>>> {{{ المسافة }}} <<<==================================== */
    /* -------------------------------------------------------------- {{{ Border Radius }}} <<<  */
    /*
        Secondary
    */
    --radius-primary: 0.4rem;
    --radius-secondary: 0.2rem;
    /* -------------------------------------------------------------- {{{ Border Radius }}} <<<  */









    /* -------------------------------------------------------------- {{{ Margin }}} <<<  */
    --margin-header: 9rem;
    /* -------------------------------------------------------------- {{{ Margin }}} <<<  */









    /* -------------------------------------------------------------- {{{ Gap }}} <<<  */
    --gap-primary: 2rem;
    --gap-secondary: 1rem;
    --gap-tertiary: 0.3rem;
    /* -------------------------------------------------------------- {{{ Gap }}} <<<  */
    /* ==============================================>>> {{{ المسافة }}} <<<==================================== */





























    /* ==============================================>>> {{{ المفرد }}} <<<==================================== */
    /* ---------------------------------------------------------------- {{{ Z Index }}} <<<  */
    /*
        Primary
    */
    --z-index--1: -1;
    --z-index--2: -2;
    --z-index--3: -3;
    --z-index-1: 1;
    --z-index-2: 2;
    --z-index-3: 3;
    --z-index-4: 4;
    --z-index-5: 5;
    /* ---------------------------------------------------------------- {{{ Z Index }}} <<<  */









    /* ---------------------------------------------------------------- {{{ Direction }}} <<<  */
    /*
        Secondary
    */
    --direction-1: rtl;
    --direction-2: ltr;
    /* ---------------------------------------------------------------- {{{ Direction }}} <<<  */









    /* ---------------------------------------------------------------- {{{ Transition }}} <<<  */
    /*
        Secondary
    */
    --transition-1: all 0.3s ease-out;
    --transition-2: all 0.7s ease-out;
    --transition-3: all 1.4s ease-out;
    /* ---------------------------------------------------------------- {{{ Transition }}} <<<  */
    /* ==============================================>>> {{{ المفرد }}} <<<==================================== */
}
