/* ==============================================>>> {{{ الأساس }}} <<<==================================== */
/* ---------------------------------------------------------------- {{{ Form Big }}} <<<  */
/*
    Primary
*/
form
{
    flex-direction: column;
    align-items: center;



    .content:not(:has(textarea))
    {
        height: max-content;
    }
    input, textarea, select, button, .button
    {
        color: var(--color-primary);
        background: var(--background-feature);
        outline: solid transparent;

        font-size: var(--size-p);
        font-weight: var(--weight-p);

        width: 100%;
        height: 100%;
    }
    label
    {
        color: var(--color-primary);

        font-size: var(--size-h6);
        font-weight: var(--weight-h6);
    }
    button, .button
    {
        color: var(--color-white);
        background: var(--color-link);
        outline: unset !important;
    }
    textarea
    {
        height: -webkit-fill-available !important;
    }
    input[type="checkbox"]
    {
        width: max-content;
        outline: unset !important;
    }
    .head
    {
        color: var(--color-secondary) !important;

        font-size: var(--size-h5);
        font-weight: var(--weight-h5);

        position: absolute;
        top: 0;
    }



    @media (max-width: 768px)
    {
        width: 100% !important;
    }
}



/*
    Secondary
*/
form
{
    input, textarea, select, button, .button
    {
        outline-width: 0.2rem;
        border-radius: var(--radius-primary);

        padding: 0.7rem 1rem;
    }
    .head
    {
        padding: 1.5rem 0 0;
    }
    img
    {
        width: 5rem;
    }
}



/*
    Hover
*/
:is(
    input, textarea, select
):focus
{
    outline-color: var(--color-primary);
}
/* ---------------------------------------------------------------- {{{ Form Big }}} <<<  */
/* ==============================================>>> {{{ الأساس }}} <<<==================================== */





























/* ==============================================>>> {{{ الستايلات }}} <<<==================================== */
/* ---------------------------------------------------------------- {{{ Form Single }}} <<<  */
/*
    Primary
*/
.form-single
{
    width: max-content !important;
    button
    {
        width: max-content !important;
    }
}
/* ---------------------------------------------------------------- {{{ Form Single }}} <<<  */









/* ---------------------------------------------------------------- {{{ Form Filter }}} <<<  */
/*
    Primary
*/
.form-filter
{
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;


    .content:has(.button)
    {
        align-self: end;



        .button
        {
            width: 100%;
        }
    }
}



/*
    Secondary
*/
.form-filter
{
    gap: var(--gap-primary);



    .content
    {
        gap: var(--gap-tertiary) !important;
    }
}
/* ---------------------------------------------------------------- {{{ Form Filter }}} <<<  */









/* ---------------------------------------------------------------- {{{ Form Big }}} <<<  */
/*
    Primary
*/
.form-big
{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}



/*
    Secondary
*/
.form-big
{
    gap: var(--gap-secondary);
}
/* ---------------------------------------------------------------- {{{ Form Big }}} <<<  */









/* ---------------------------------------------------------------- {{{ Form Small }}} <<<  */
/*
    Primary
*/
.form-small
{
    box-shadow: var(--box-shadow-big);
    border: var(--border-primary);

    overflow-y: auto;
}



/*
    Secondary
*/
.form-small
{
    border-radius: var(--radius-primary);

    width: 23rem;
    max-height: 23rem;
    padding: 4rem 2rem 1.5rem;

    gap: var(--gap-primary);
}
/* ---------------------------------------------------------------- {{{ Form Small }}} <<<  */









/* ---------------------------------------------------------------- {{{ Head }}} <<<  */
/*
    Primary
*/
form
{
    .head
    {
        background: var(--color-primary);
    }
}



/*
    Secondary
*/
form
{
    .head
    {
        border-radius: var(--radius-primary);

        padding: 0.5rem 1rem;
    }
}
/* ---------------------------------------------------------------- {{{ Head }}} <<<  */
/* ==============================================>>> {{{ الستايلات }}} <<<==================================== */
